/* GLOBAL CSS CUSTOM VALUES */

body {
  font-family: "Open Sans", sans-serif;
}

.f-light {
  font-family: 'Open Sans Light', sans-serif;
}

.light-blue {
  color: rgb(74, 144, 226);
}

.light-grey {
  color: rgb(149, 149, 149);
}

button {
  border: none;
}

#n-primary li {
  display: inline-block;
  text-align: left;
}
a{
  color:#000;
}
#content{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.footer {
  background: #000;
  color: #FFF;
  text-align: center;
}

.community-members-banner {
  background: linear-gradient(0deg,rgba(38,32,23,0.5),rgba(38,32,23,0.5)), url("../assets/community-members-background.jpg");
  background-size: cover;
  background-position: center;
}

.navigation a:hover {
  color: rgb(74, 144, 226);
}

.searchTerm {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.searchTerm input:focus {outline: none; }

.search-icon {
  background-image: url("../assets/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.loadMoreButton {
  background-color: rgb(74, 144, 226);
}
