/* GLOBAL CSS CUSTOM VALUES */

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

.f-light {
  font-family: 'Open Sans Light', sans-serif;
}

.light-blue {
  color: rgb(74, 144, 226);
}

.light-grey {
  color: rgb(111, 111, 111);
}

.banner-title {
  font-size: 4rem;
}

@media only screen and (max-width: 768px) {
  .banner-title-s {
    font-size: 2.25rem;
  }
}

.banner-size {
  height: 22rem;
}

button {
  border: none;
}

#n-primary li {
  display: inline-block;
  text-align: left;
}
a{
  color:#000;
}
#content{
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.footer {
  background: rgb(23, 23, 23);
}

.footer-logo {
  background-image: url("../assets/community-footer-logo.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.community-members-banner {
  background: linear-gradient(0deg,rgba(40,40,40,0.7),rgba(40,40,40,0.7)), url("../assets/community-members-background.jpg");
  background-size: cover;
  background-position: center;
  filter: contrast(120%) brightness(110%);
}

.navigation a:hover {
  color: rgb(74, 144, 226);
}

.searchTerm {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.searchTerm input:focus {outline: none; }

.search-icon {
  background-image: url("../assets/search-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.loadMoreButton {
  background-color: rgb(74, 144, 226);
}
